.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  border-bottom: 1px solid #eee;
}
.header_static {
    position: sticky;
    top: 0;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.08), transparent 0%), repeating-radial-gradient(circle at center, rgba(255, 255, 255, 0.0) 0 2px, transparent 2px 16px), linear-gradient(135deg, #050b3c, #4b1978);
    z-index: 10;
    border-bottom: 1px solid #050b3c;
}

.header__nav {
    /* max-width: 1200px; */
    margin: 0px 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero__track {
  display: block;
}

.hero__slide {
  min-width: 100%;
  position: relative;
  display: none;
}

.hero__slide.is-active {
  display: block;
}

.hero__image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
}

@media (min-width: 768px) {
  .choose__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 0px 18px;
  }
}
